<import from="./todo-item.html"></import>

<div class="todo">
    <h1>Tehtävää</h1>

    <div class="container">
        <input type="text" value.bind="todo" keypress.trigger="newTodo($event)"  placeholder="Lisää tekemistä">
        <!--<button type="button" click.trigger="newTodo($event)()">Lisää</button>-->

        <todo-item repeat.for="todo of todos" todo.bind="todo" index.bind="$index" delete-todo.call="deleteTodo($index)"></todo-item>
    </div>
</div>


<!--<button type="submit" id="add-button" click.delegate="onClick()">Add</button>-->