<import from="./todo-item.html"></import>

<div class="todo">
    <h1>Tehtävälista</h1>

    <button class="edit-btn" click.trigger="editList()">Muokkaa listaa</button>
    <div class="todo-container">
        <div class="todo-compose">
            <input type="text" value.bind="todo" keypress.trigger="newTodo($event)"  
            placeholder="Lisää tekemistä">
        </div>
        <!--<button type="button" click.trigger="newTodo($event)()">Lisää</button>-->
        <div class="todo-items">
            <todo-item repeat.for="todo of todos" todo.bind="todo" index.bind="$index" 
            delete-todo.bind="deleteTodo"></todo-item>
        </div>
    </div>
</div>


<!--<button type="submit" id="add-button" click.delegate="onClick()">Add</button>-->