<import from="./todo-item.html"></import>

<div class="todo">
    <h1>Tehtävälista</h1>

    <button class="edit-btn" click.trigger="editList()">Muokkaa listaa</button>

    <div class="todo-compose" style="display: none">
        <input type="text" value.bind="todo" keypress.trigger="newTodo($event)" placeholder="Lisää tekemistä">
    </div>

    <div class="todo-items">
        <todo-item repeat.for="todo of todos" todo.bind="todo" index.bind="$index" delete-todo.bind="deleteTodo"></todo-item>
    </div>
</div>


<!--<button type="submit" id="add-button" click.delegate="onClick()">Add</button>-->