@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  background: #99ebff;
}

.todo {  
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
  font-family: 'Courier New', sans-serif;
  height: auto;
  width: auto;

}

.todo h1 {
  align-self: center;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  text-decoration: underline black;
  margin: 20px;
  position: relative;
}



.edit-btn {
  background: #33d6ff;
  border: 3px solid black;
  border-radius: 20%;
  color: #333;
  font-size: 18px;
  align-self: center;
  grid-row: 2;
  grid-column: 2;
  margin: 10px;
}

.edit-btn:hover {
  cursor: pointer;
}
